
:root{

--background-light-mode-color: #ffffff;
--background-dark-mode-color: #2c2c2c;
--font-color-light-mode: #17233D;
--font-color-dark-mode: #ffffff;
--font-family: 'Poppins', sans-serif;



}














