
:root{

/*                              Desktop Variables                              */

--font-family: 'Poppins', sans-serif;
--bg-main-link-button-color-d: #6FBF44;  
--border-button-main-color-d: #4CB538;

/*                               Light Mode Variables                               */

--bg-main-color-d: #ffffff;
--bg-main-hover-d: #808080;

--font-main-color-d: #17233D;
--font-text-color-d: #4B505A;
--font-button-color-d: #ffffff;


/*                               Dark Mode Variables / IN DEVELOPMENT                              */


}

:root.dark-theme{


    --bg-main-color-d: #121212;
    --bg-main-hover-d: #2A2A2A;

    --font-main-color-d: #acc4db;
    --font-text-color-d: #C5CAD0;
    --font-button-color-d: #FFFFFF;



}
