* {

    box-sizing: border-box;

}


.wrapper {

    background-color: var(--bg-main-color-d);
    font-family: var(--font-family);
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto auto;



}


/*                               Navbar Styles                               */


.menu-nav {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.menu-nav-list {

    margin-top: 2rem;
    display: flex;
    gap: 2.9rem;
    margin-left: 2.625rem;
    align-items: center;

}

.menu-dark-light-mode {

    display: flex;
     margin-top: 2rem;
    margin-right: 2.625rem;
    align-items: center;


}

.menu-nav-link {

    text-decoration: none;
    color: var(--font-text-color-d);
    font-size: 1vw;
    letter-spacing: 0.88px;

}

.menu-nav-link:hover {

    color: color-mix(in srgb, var(--bg-main-hover-d)70%, transparent);
    transition: 0.2s;

}

.menu-nav-link:active {

    color: color-mix(in srgb, var(--bg-main-hover-d)50%, transparent);
    transition: none;

}

.menu-nav-button {

    color: var(--font-button-color-d);
    background-color: var(--bg-main-link-button-color-d);
    border: 1px var(--border-button-main-color-d) solid;
    padding: 0.813rem 1.813rem 0.875rem 1.75rem;
    font-size: 1.2vw;
    letter-spacing: 1px;
    border-radius: 6px;

}

.menu-nav-button:hover {

    background-color: color-mix(in srgb, var(--bg-main-link-button-color-d)85%, transparent);
    transition: 0.3s;
    cursor: pointer;
}

.menu-nav-button:active {

    background-color: color-mix(in srgb, var(--bg-main-link-button-color-d)70%, transparent);
    transition: none;

}

.menu-dark-light-mode-button {

    border: none;
    background-color: transparent;
    border-radius: 20px;

}

.menu-dark-light-mode-button:hover {

    cursor: pointer;
    transition: 0.5s;
    background-color: color-mix(in srgb, var(--bg-main-hover-d)10%, transparent);

}

.menu-dark-light-mode-button:active {

    background-color: color-mix(in srgb, var(--bg-main-hover-d)20%, transparent);
    transition: none;

}

.menu-dark-light-mode-icon {

    width: 8vh;
    height: auto;

}


/*                               Main Styles                               */



.main-content {

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-content: space-around;
     align-items: center;
        gap: 2rem;

margin-bottom: auto;
}

.main-img {

    width: 80%;
    height: auto;
}

.img {

    
    display: flex;
    justify-content: center;
    align-content: center;
flex: 1 1 500px;



}

.div-text-content {


    display: grid;
    grid-template-rows: auto auto auto;
    align-content: space-evenly;
    flex: 1 1 500px;
        gap: 3.125rem;
    


}


.main-title {

    width: 100%;
    color: var(--font-main-color-d);
    line-height: 4.125rem;
    letter-spacing: 0.038rem;
    font-size: 4vw;
    font-weight: bold;


}

.main-paragraph {

    width: 70%;
    color: var(--font-text-color-d);
    font-size: 1.3vw;
        line-height: 1.5rem;
    letter-spacing: 0.88px;


}

.main-link {

    color: var(--bg-main-link-button-color-d);
    text-decoration: none;
    font-size: 1.2vw;
    letter-spacing: 0.063rem;

}


@media screen and (max-width: 1031px){
    
.main-content{

    align-content: center;

}



.nav-link{

display: none;

}

.img{

  margin-left: 0;

}

.main-img{

width: 40vh;



}

.div-text-content{

justify-items: center;

}

.main-title {

    width: 70%;
    color: var(--font-main-color-d);
    line-height: 1.875rem;
    letter-spacing: 0.125rem;
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;

}

.main-paragraph {

    width: 70%;
    color: var(--font-text-color-d);
    font-size: 2vh;
    line-height: 1.375rem;
    letter-spacing: 0.88px;
    text-align: center;

}


.main-link {

    color: var(--bg-main-link-button-color-d);
    text-decoration: none;
    font-size: 2.4vw;
    letter-spacing: 0.063rem;

}

nav{

order:1;

}

.menu-nav-button{

    margin-right: 0.938rem;
    font-size: 2.7vw;
        padding: 0.613rem 1.613rem 0.675rem 1.55rem;

}

.menu-dark-light-mode{

margin-top: 0.3rem;

}

.menu-nav-list{

margin-top: 0.4rem

}

.menu-dark-light-mode-icon{

width: 4vh;

}





}