* {

    box-sizing: border-box;

}


.wrapper {

    background-color: var(--background-white-mode-color-d);
    font-family: var(--font-family);
    width: minmax(100%, 1440px);
    height: minmax(100%, 100vh);

}


/*                               Navbar Styles                               */


.menu-nav {

    display: flex;
    justify-content: space-between;

}

.menu-nav-list {

    margin-top: 2rem;
    display: flex;
    gap: 2.9rem;
    margin-left: 2.625rem;
    align-items: center;

}

.menu-dark-light-mode {

    display: flex;
    margin-right: 2.625rem;
    align-items: end;

}

.menu-nav-link {

    text-decoration: none;
    color: var(--font-main-color-light-mode-d);
    font-size: 0.875rem;
    letter-spacing: 0.88px;

}

.menu-nav-link:hover {

    color: color-mix(in srgb, var(--font-main-color-light-mode-d)70%, transparent);
    transition: 0.2s;

}

.menu-nav-link:active {

    color: color-mix(in srgb, var(--font-main-color-light-mode-d)50%, transparent);
    transition: none;

}

.menu-nav-button {

    color: var(--font-button-color-light-mode-d);
    background-color: var(--background-main-button-color-d);
    border: 1px var(--border-button-main-color-d) solid;
    padding: 0.813rem 1.813rem 0.875rem 1.75rem;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 6px;

}

.menu-nav-button:hover {

    background-color: color-mix(in srgb, var(--background-main-button-color-d)85%, transparent);
    transition: 0.3s;
    cursor: pointer;
}

.menu-nav-button:active {

    background-color: color-mix(in srgb, var(--background-main-button-color-d)70%, transparent);
    transition: none;

}

.menu-dark-light-mode-button {

    border: none;
    background-color: transparent;
    border-radius: 20px;

}

.menu-dark-light-mode-button:hover {

    cursor: pointer;
    transition: 0.5s;
    background-color: color-mix(in srgb, var(--background-hover-light-mode-d)10%, transparent);

}

.menu-dark-light-mode-button:active {

    background-color: color-mix(in srgb, var(--background-hover-light-mode-d)20%, transparent);
    transition: none;

}

.menu-dark-light-mode-icon {

    width: 3.5em;
    height: auto;

}


/*                               Main Styles                               */






